$primary: linear-gradient(to top, #dfe9f3 0%, white 100%);
$primary-card: linear-gradient(to top, #9be15d 0%, yellowgreen 100%);
$primary-color: black;
$primary-white: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);

